[submodule "_posts"]
	path = _posts
	url = https://github.com/XML-Travelgate/xtg-content-posts-pub.git
[submodule "_articles-pub"]
	path = _articles-pub
	url = https://github.com/XML-Travelgate/xtg-content-articles-pub.git
